body
{
    background-color: #fff;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Tahoma", sans-serif;
}
body a
{
    text-decoration: none;
}
#header
{
    width: 850px;
    height: 315px;
    background-image: url('../img/cover.jpg');
}
#cover
{
    width: 850px;
    height: 315px;
    
}
#content
{
    float: left;
    width: 620px;
    padding: 40px;
    text-align: center;
}
#footer
{
    width: 842px;
    padding: 4px;
    font-size: smaller;
}
