#menu
{
    float: right;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    width: 140px;
    border-radius: 4px;
}
#menu ul
{
    padding: 0;
    list-style: none;
    text-align: center;
}
#menu a
{
    text-decoration: none;
    color: #fff;
}
